<div class="six columns">
  <a title="English" href="https://www.altcointrading.net">English</a> ||
<a title="Privacy Policy Altcointrading.net" href="/datenschutz/">Datenschutz</a> |
  <a title="Trading disclaimer" href="/disclaimer/">Disclaimer</a> ||
  <a href="/gutschein-bitmex-iyqb44/">Gutschein BitMEX</a> |
  <a href="/gutschein-coinmama-fny3000/">Gutschein CoinMama</a> |
  <a href="/gutschein-bitfinex-5egv78ytlc/">Gutschein BitFinex</a>


  <br>

  &#169; 2016-2017 | info@altcointrading.net

</div>
<div class="six columns">
  {{ site.ads.trezor }}
</div>

<amp-analytics type="googleanalytics">
<script type="application/json">
{
  "vars": {
    "account": "UA-73503011-4"
  },
  "triggers": {
    "trackPageview": {
      "on": "visible",
      "request": "pageview"
    },
    "outboundLinks": {
        "on": "click",
        "selector": "a",
        "request": "event",
        "vars": {
          "eventCategory": "outbound",
          "eventAction": "click",
          "eventValue": "${outboundLink}"
        }
      }
  }
}
</script>
</amp-analytics>
