<div id="sidebar">
  <section>
    <ul class="divided">
      <li>
        <div>
          <amp-iframe
            width=336 height=280
            layout="responsive"
            data-aa="147074"
            sandbox="allow-scripts allow-same-origin allow-modals allow-popups allow-forms"
            src="https://ad.a-ads.com/147074?size=336x280">
            <amp-img layout="fill" src="/img/ads/ad-placeholder.jpg" placeholder></amp-img>
          </amp-iframe>
        </div>
      </li>
      <li>
      <h3>Altcoin Leistung:</h3>
      <div>
        <amp-iframe
          width=336 height=235px
          layout="responsive"
          sandbox="allow-scripts allow-same-origin allow-modals allow-popups allow-forms"
          src="https://data.altcointrading.net/compare/">
          <amp-img layout="fill" src="/img/ads/ad-placeholder.jpg" placeholder></amp-img>
        </amp-iframe>
      </div>
      </li>
      <li>
        <h3>Gutscheincodes für Krypto-Börsen:</h3>
        <ul>
          <li>
            <a  target="_blank" rel="nofollow" href="https://www.bitfinex.com/?refcode=5egV78YtlC" >BITFINEX GUTSCHEIN <b>5egV78YtlC</b> (10% off fee)</a></li>
          <li>
            <a  target="_blank" rel="nofollow" href="https://www.bitmex.com/register/iYQB44">BITMEX GUTSCHEIN <b>iYQB44</b> (10% off fee)</a></li>
          <li>
            <a  target="_blank" rel="nofollow" href="https://www.coinmama.com/?ref=fny3000">COINMAMA fny3000 + <b>5% discount 190TY584</b></a></li>
        </ul>
      </li>
      <li>
      <h3>Hardware Geldbörse für Altcoins:</h3>
        {{ site.ads.trezorbox }}
        <br>
        <a href="https://www.altcointrading.net/trezor-multicoin/">Trezor supports altcoins ZCASH, DASH, ETH and LTC.</a>
      </li>
      <li>
      <h3>Virtuelle Kreditkarte:</h3>
        <div>
          {{ site.ads.acashgreen }}
        </div>
      </li>
      <h3>Bitcoin & Altcoins Nachrichten:</h3>
        <ul>
          <li><a href="https://www.reddit.com/r/bitcoinmarkets" target="_blank">/r/bitcoinmarkets</a></li>
          <li><a href="https://www.reddit.com/r/cryptomarkets" target="_blank">/r/cryptomarkets</a></li>
          <li><a href="http://www.altcointoday.com">AltcoinToday</a></li>
          <li><a href="http://www.coindesk.com/category/technology/altcoins/">Coindesk</a></li>
        </ul>
      <li>
        <h3>Algorithmischer Handel</h3>
        <ul>
          <li><a target="_blank" href="https://cryptotradingtools.com">Crypto Trading Tools</a></li>

        </ul>
      </li>

      <li>
        <h3>Bitcoin & Altcoins Cold Storage:</h3>
        <div>
          {% banner300 https://www.ledgerwallet.com/images/promo/ledger-500x500-01.jpg https://www.ledgerwallet.com/r/e274 %}
        </div>
      </li>

      <li>
        <div>

          <amp-iframe
            width=336 height=280
            layout="responsive"
            data-aa="147074"
            sandbox="allow-scripts allow-same-origin allow-modals allow-popups allow-forms"
            src="https://ad.a-ads.com/147074?size=336x280">
            <amp-img layout="fill" src="/img/ads/ad-placeholder.jpg" placeholder></amp-img>
          </amp-iframe>

        </div>
      </li>

      <li>
        <h3>Abonnieren</h3>
        {{ site.ads.feeds }}
      </li>


      <li>
        <h3>Warnung - Bitfinex  Coins</h3>

             <div class="tooltip">
               <input type="checkbox" value="selected" id="warning-1" class="tooltip-input">
               <label for="warning-1" class="tooltip-label">Warnung umschalten</label>
               <div role="tooltip" id="tooltipID" class="tooltip-content">
                 <div class="warning">
                   <strong>WARNING</strong>
                    <p>
                      In diesen Tagen, nach dem 27. Januar 2017, ist es am wichtigsten zu überprüfen, ob Sie immer saubere Münzen sind. Am 27. Januar veröffentlichte jemand eine Liste von Transaktionen , die bewiesen, dass die Bitcoins im Bitfinex-Hack im August 2016 gestohlen wurden.
                      Anscheinend versucht der Hacker nun, kleine Stücke der Münzen zu Bitcoin-Börsen zu bewegen. Es ist wahrscheinlich, dass sie versuchen, einen Mixing-Service verwenden, um die Bitcoin zu reinigen oder dass sie sogar ihren eigenen Mixer einrichten.
                      Also schau immer an, woher hast deine bitcoins gekommen - auch wenn du sie nur für die Ausleihe auf Poloniex abgelegt hast. Sie werden wahrscheinlich nicht wieder Ihre ursprünglichen Bitcoins aber Bitcoins mit einer anderen Geschichte.
                      - <a href="https://bitcointalk.org/index.php?topic=1766723.0" target="_blank">Weiterlesen</a>
                      </div>
                    </p>

              </div> <!--/.tooltip-content-->
             </div><!--/.tooltip-->
      </li>



    </ul>
  </section>
</div>
